.button {
  color: red;
  flex: 1;
  width: 730px;
  height:200px;
  background-color: lightblue;
  border: 2px solid black;
  text-align: center;
  padding: 3px;
  font-size:92px;
}
.button:hover {
  background-color: yellow;
}
.button:active {
  background-color: red;
  color: white;
}

.button-row {
  display:flex;
}

h1 {
  font-size: 39px;
}
html, body {
  touch-action: pan-x, pan-y;
}
